# Python-related files
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual environment
venv/

# Logs and temporary files
*.log
*.tmp

# Operating system-specific files
.DS_Store
Thumbs.db

# IDE/Editor files
.vscode/
*.swp
